# Cargar datos en DataFrame

Cargamos nuestra librería de pandas y hacemos el import

In [2]:
import pandas as pd

Usamos el siguiente metodo para cargar la información del csv

***Nota***
* Para poder calcular la ruta, usamos el mando de unix pwd.
* El hacer esto así sin más, no establecera los indices, así que lo hará po default.
* El que lo haga por default hará que tenmos una ponga indeces [0-N] y N Columnas.

In [5]:
path = "C:\\Users\\PC\\OneDrive\\Documentos\\CursoAnaliticaDatos\\MACHINE-LEARNING\\NIVEL2\\datos\\ventas.csv"
ventas = pd.read_csv(path)
ventas

       Unnamed: 0  Trimestre 1  Trimestre 2  Trimestre 3  Trimestre 4
0  Sucursal Norte         1001         1002         1003         1004
1   Sucursal Este         2001         2002         2003         2004
2  Sucursal Oeste         3001         3002         3003         3004
3    Sucursal Sur         4001         4002         4003         4004

Para establecer la primera columna como indice tenemos que hacer lo siguiente:
* Aquí ya no aparecerá los indices por default

In [6]:
ventas = pd.read_csv(path, index_col = 0)
ventas

                Trimestre 1  Trimestre 2  Trimestre 3  Trimestre 4
Sucursal Norte         1001         1002         1003         1004
Sucursal Este          2001         2002         2003         2004
Sucursal Oeste         3001         3002         3003         3004
Sucursal Sur           4001         4002         4003         4004

No solamente podríamos leer por archivos separados por csv, si no por cualquier tipo de separador
* Por default, este incluye el ***","***, pero nosotros podemos establecerlos.
* Igualmente podemos decidir que columnas usar, necesitamos el ***usecols***.
* Necesitamos también incluir la columna index dentro de la lista.
* También se puede establecer la cantidad de filas que queremos usando el ***nrows***.

In [14]:
path2 = "C:\\Users\\PC\\OneDrive\\Documentos\\CursoAnaliticaDatos\\MACHINE-LEARNING\\NIVEL2\\datos\\ventas_con_simbolo.csv"
ventas2 = pd.read_csv(path2,  index_col = 0, sep = "$", usecols = [0,1,4], nrows = 3)
ventas2

                Trimestre 1  Trimestre 4
Sucursal Norte         1001         1004
Sucursal Este          2001         2004
Sucursal Oeste         3001         3004

Dentro de estos escenarios tambien podemos encontrarnos archivos sin encabezados
* Si tratamos de hacerlo como lo estamos haciendo la primera fila será tomada como encabezados.
* Tenemos que usar ***header=None***, para que le asigne valores por default.

In [18]:
path3 = "C:\\Users\\PC\\OneDrive\\Documentos\\CursoAnaliticaDatos\\MACHINE-LEARNING\\NIVEL2\\datos\\ventas_sin_encabezado.csv"
ventas3 = pd.read_csv(path3,  index_col = 0, header=None, names=["T1", "T2", "T3", "T4"])
ventas3

                  T1    T2    T3    T4
Sucursal Norte  1001  1002  1003  1004
Sucursal Este   2001  2002  2003  2004
Sucursal Oeste  3001  3002  3003  3004
Sucursal Sur    4001  4002  4003  4004

También es posible que nos toquen archivos con basura
* Este archivo tiene un mensaje al inicio y al final, por lo que tendremos que no contemplar esto.
* El ***skipfooter*** no está soportado en C, tenemos que agregar que es de python.

In [21]:
path4 = "C:\\Users\\PC\\OneDrive\\Documentos\\CursoAnaliticaDatos\\MACHINE-LEARNING\\NIVEL2\\datos\\ventas_con_basura.csv"
ventas4 = pd.read_csv(path4,  index_col = 0, skiprows=1, skipfooter = 1, engine='python')
ventas4

                Trimestre 1  Trimestre 2  Trimestre 3  Trimestre 4
Sucursal Norte         1001         1002         1003         1004
Sucursal Este          2001         2002         2003         2004
Sucursal Oeste         3001         3002         3003         3004
Sucursal Sur           4001         4002         4003         4004

### LEER UN ARCHIVO EXCEL

Un archivo de excel no tiene comas que separen los valores, inclusive tiene varias hojas de calculo,
mensajes, colores, etc.
* Para este caso este archivo tiene 2 hojas de calculos
* Cada hoja tiene coles y titulos

***Notas***
* Tenemos que usar un nuevo método, el ***read_excel***.
* En este caso la primera fila tiene un mensaje, el cual no ocupamos, por eso damos skiprow.
* Si no espeficiamos, esto solo nos cargará la primera pestaña u hoja de calculo.
* Para que cargue todas usamos ***sheet_name=None***, pero no trae un diccionario de series, donde el
  el nombre es el key, y el contenido es una dataframe.
* Es decir, esto nos regresa un diccionario de dataframes.

In [24]:
path5 = "C:\\Users\\PC\\OneDrive\\Documentos\\CursoAnaliticaDatos\\MACHINE-LEARNING\\NIVEL2\\datos\\ventas_anuales.xlsx"
ventas5 = pd.read_excel(path5,  index_col = 0, skiprows=1, sheet_name=None)
ventas5

{'2020':                 Trimestre 1  Trimestre 2  Trimestre 3  Trimestre 4
 Sucursal Norte         1001         1002         1003         1004
 Sucursal Este          2001         2002         2003         2004
 Sucursal Oeste         3001         3002         3003         3004
 Sucursal Sur           4001         4002         4003         4004,
 '2021':                 Trimestre 1  Trimestre 2  Trimestre 3  Trimestre 4
 Sucursal Norte         2001         2002         2003         2004
 Sucursal Este          4001         4002         4003         4004
 Sucursal Oeste         6001         6002         6003         6004
 Sucursal Sur           8001         8002         8003         8004}

Accedemos a un dataframe del diccionario.

In [26]:
ventas5["2021"]

                Trimestre 1  Trimestre 2  Trimestre 3  Trimestre 4
Sucursal Norte         2001         2002         2003         2004
Sucursal Este          4001         4002         4003         4004
Sucursal Oeste         6001         6002         6003         6004
Sucursal Sur           8001         8002         8003         8004